@model WebSite_1.ClassModel[]

@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        .tab {
            display: inline-block;
            margin-right: 80px;
        }
    </style>
</head>
<body>
    @*@Model.Name - @Model.Description  -  @Model.Price*@

    @if (Model.Length > 0)
    {
        <table class="table">
            <td><b>Class <span class="tab"></span></b></td>
            <td><b>Description <span class="tab"></span></b></td>
            <td><b>Price</b></td>

            @foreach (var aClass in Model)
            {
                <tr>
                    <td>@aClass.Name <span class="tab"></span> </td>
                    <td>@aClass.Description <span class="tab"></span></td>
                    <td>@String.Format("{0:c}", aClass.Price) </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>No product data found.</h2>
    }
</body>
</html>